@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
  	list-style: none;
    font-family: "Mitr", sans-serif;
}

.add_sport_all{
    padding: 20px 20px;
    border: 2px solid black;
    width: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.box_sport{
	height: 50px;
	margin-bottom: 20px;
	width: 100%;
	align-content: center;
	margin-top: 12px;
	background-color: #e1e1e1;
	border: 2px solid black;
	border-radius: 50px;
    padding: 15px;
	
}

.btn{
	color: white;
	font-size: 20px;
	border-radius: 20px;
	width: 30%;
	border: none;
	background-color: darkblue;
	height: 40px;
	transition: 0.5s ease;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    display: flex;
   text-align: center;
}

.btn_viewadd{
    color: white;
	font-size: 20px;
	border-radius: 20px;
    max-width: 180px;
	width: 15%;
	border: none;
	background-color: darkblue;
	height: 40px;
	transition: 0.5s ease;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
   text-align: center;
   display: flex;
   padding: 15px;
   margin: 0 auto ;
   align-items: center;
   margin-bottom: 30px;
}

.table_all, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.table_all{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
}

tr{
    background-color: skyblue;
    color: black;
    font-size: 20px;
}

td{
    background-color: white;
    text-align: center;
}
